body, html {
    height: 100%;
    margin: 0;
  }
.bg {
    /* The image used */
    background-image: url("images/background.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.grid{
    position: absolute;
    margin: -150px 0 0 -500;
    top: 50%;
    left: 50%;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 300px;
    border:white;
    border-style: groove;

}
.level2{
  position: absolute;
    margin: -200px 0 0 -600px;
    top: 50%;
    left: 50%;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 400px;
    border:white;
    border-style: groove;
}

.btn{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px; 
    text-align: center;
}
.container .btn:hover {
    background-color: green;
    color: white;
  }
  .game{
    background-image: url("images/game.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .game2{
    background-image: url("images/level2.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #score{
    text-align:left;
    float:left;
    margin: 100 0 0 200;  
  }
  #result{
    text-align:right;
    float:right; 
    margin: 110 0 0 200;

  }